In [1]:
from dash import Dash , html, dcc
import jupyter_dash
import plotly.express as px
import pandas as pd
from dash.dependencies import Input , Output , State
import dash_bootstrap_components as dbc
from dash import html

In [2]:
import numpy as np
import pandas as pd
import geopandas as gpd
from urllib.request import urlopen
import json
import plotly.express as px

In [3]:
ukr_df = pd.read_csv('Ukraine_war1.csv')
ukr_df = ukr_df.head(54)
with open('stanford-gg870xt4706-geojson.json') as f:
    ukr_json = json.load(f)

    ukr1_df = pd.read_csv('ukr1_df.csv')
ukr1_df.drop('NL_NAME_1', axis = 1,inplace = True)
ukr1_df.dropna(axis = 0, inplace = True)

ukr1_df['Condition'] = np.where(
    ukr1_df['control'] == 1 ,'Russian military control' , np.where(
    ukr1_df['control'] == 2 ,'Ukrainian counter-attack','ukraine Liberated'))

In [4]:
Inflation_Data = pd.read_csv("Inflation.csv")
Inflation_Data.head()

,Unnamed: 0,Date,Headline CPI,Core CPI,Unnamed: 4,Headline CPI.1,Core CPI.1,Unnamed: 7,Regulated Items,Fruits and vegatables,Unnamed: 10,Regulated Items.1,Fruits and vegatables.1
0,?????? 2019,19-Oct,0.996,1.103,NaN,3.146,2.723,NaN,1.998,-4.442,NaN,12.460,-13.355
1,?????? 2019,19-Nov,-0.301,-0.135,NaN,3.628,2.114,NaN,0.092,-4.253,NaN,12.529,-11.933
2,??????? 2019,19-Dec,-0.153,0.217,NaN,7.100,2.374,NaN,-1.459,0.533,NaN,10.766,9.967
3,????? 2020,20-Jan,0.666,0.693,NaN,7.168,2.663,NaN,0.170,2.497,NaN,10.889,10.272
4,?????? 2020,20-Feb,-0.012,0.246,NaN,5.319,1.916,NaN,0.001,-3.652,NaN,10.871,-1.083

In [5]:
# UR_Data = UR_Data.drop('Unnamed: 0' , axis =1)
# UR_Data = UR_Data.dropna(axis = 1)
Inflation_Data = Inflation_Data.drop(Inflation_Data.filter(regex='Unnamed').columns, axis=1)
Inflation_Data = Inflation_Data.drop(Inflation_Data.index[0:15] , axis = 0)
Inflation_Data.head()

,Date,Headline CPI,Core CPI,Headline CPI.1,Core CPI.1,Regulated Items,Fruits and vegatables,Regulated Items.1,Fruits and vegatables.1
15,21-Jan,-0.426,0.532,4.285,3.637,0.022,-15.080,9.297,-8.518
16,21-Feb,0.151,0.254,4.455,3.645,0.396,-2.734,9.729,-7.647
17,21-Mar,0.630,0.451,4.476,3.672,0.018,6.797,8.337,-1.516
18,21-Apr,0.888,0.675,4.101,3.331,0.417,6.482,8.854,-5.320
19,21-May,0.685,0.334,4.829,3.413,0.129,8.371,8.880,6.931

In [6]:
UR_Data = pd.read_csv("Russia-Ukraine Equipment Losses - Origional.csv")
UR_Data.head()

,Date,Russia_Total,Ukraine_Total,Unnamed: 3,Russia_Destroyed,Ukraine_Destroyed,Unnamed: 6,Russia_Damaged,Ukraine_Damaged,Unnamed: 9,...,Russia_Logistics,Ukraine_Logistics,Unnamed: 52,Russia_Armor,Ukraine_Armor,Unnamed: 55,Russia_Antiair,Ukraine_Antiair,Unnamed: 58,UNHCR Ukraine Refugees
0,2022-02-24,0,0,NaN,0,0,NaN,0,0,NaN,...,3,0,NaN,6,3,NaN,1,5,NaN,84681.0
1,2022-02-25,52,59,NaN,25,27,NaN,5,5,NaN,...,3,0,NaN,9,5,NaN,2,5,NaN,192982.0
2,2022-02-26,107,88,NaN,42,36,NaN,6,4,NaN,...,14,0,NaN,14,14,NaN,3,5,NaN,341301.0
3,2022-02-27,161,96,NaN,71,38,NaN,6,4,NaN,...,14,0,NaN,20,17,NaN,4,5,NaN,509665.0
4,2022-02-28,321,147,NaN,139,53,NaN,7,4,NaN,...,18,0,NaN,72,27,NaN,15,5,NaN,672139.0

In [7]:
UR_Data = UR_Data.dropna(axis = 1)

In [8]:
FONT_AWESOME = "https://use.fontawesome.com/releases/v5.10.2/css/all.css"

In [9]:
app = Dash(external_stylesheets=[dbc.themes.BOOTSTRAP , FONT_AWESOME])

In [10]:
# graphs = html.Div(
#     [
#         dbc.Row(
#             [
#                 dbc.Col(dcc.Graph(id = "UR_Graph"), lg=6),
#                 dbc.Col(dcc.Graph(id = "UR_Graph11"), lg=6),
                
#             ],
#             className="mt-4",
#         ),
        
#     ]
# )

# app.layout = dbc.Container([graphs], fluid=True)

In [11]:
card_content = [
    dbc.CardHeader("Card header"),
    dbc.CardBody(
        [
            html.H5("Card title", className="card-title"),
            html.P(
                "This is some card content that we'll reuse",
                className="card-text",
            ),
        ]
    ),
]

In [12]:
# fig = px.choropleth_mapbox(ukr1_df, geojson=ukr_json,
#                            color="Condition",
#                            color_discrete_map={'Ukrainian counter-attack':'#e6d385',
#                                                'ukraine Liberated':'#5c7658',
#                                                'Russian military control':'#681313'},
#                            opacity = 1,
#                            locations="Region", 
#                            featureidkey="properties.name_1",
#                            center={"lat": 48.3794, "lon": 31.1656},  #49.4444° N, 32.0598° ukraine E 48.3794° N, 31.1656° E
#                            mapbox_style= "carto-positron",#"carto-darkmatter",     #carto-positron",
#                            zoom=4,
#                            hover_name="Region", # column to add to hover information
#                            color_continuous_scale=px.colors.sequential.Plasma,
#                            animation_frame='date'
#                           )

# fig.layout.updatemenus[0].buttons[0].args[1]["frame"]["duration"] = 2000
# fig.update_layout(
#     autosize=False,
#     width=1300,
#     height=400,
#     margin={"r":0,"t":0,"l":0,"b":0},
#     legend=dict(
#         x=0,
#         y=1,
#         traceorder="normal",
#         font=dict(
#             family="sans-serif",
#             size=12,
#             color="black"
#         ),
#     )
# )



# fig.update_layout(paper_bgcolor="#e9ecef")

In [13]:
colors = {
    'background': '#e9ecef',
    'text': '#7FDBFF'
}

# inflation_fig = dcc.Graph(
#         id="Inflation_Data",
#         figure={
#             'data': [
#                 {'x': [1, 2, 3], 'y': [4, 1, 2], 'type': 'bar', 'name': 'SF'},
#                 {'x': [1, 2, 3], 'y': [2, 4, 5], 'type': 'bar', 'name': u'Montréal'},
#             ],
#             'layout': {
#                 'plot_bgcolor': colors['background'],
#                 'paper_bgcolor': colors['background'],
#                 'font': {
#                     'color': colors['text']
#                 }
#             }
#         }
#     )


inflation_fig =  html.Div(children=[
  
        dcc.Dropdown(Inflation_Data.columns, 'Headline CPI', id='Select_Y_axis1' 
                     ,style={ 'width': '200px','color': '#212121', 'background-color': '#e9ecef', }),
        dcc.Graph(
        id="Inflation_Data",
        figure={
            'layout': {
                'plot_bgcolor': colors['background'],
                'paper_bgcolor': colors['background'],
                'font': {
                    'color': colors['text']
                },
               
                
            }
            
        }
    )
        
    ] , style = {'backgroundColor':'#e9ecef' })

In [14]:
# inflation_fig =  html.Div(children=[
  
#         dcc.Dropdown(Inflation_Data.columns, 'Headline CPI', id='Select_Y_axis1' ),
#         dcc.Graph(id = "Inflation_Data" , style = {'backgroundColor':'#e9ecef' }
                 
#                  ,figure={
            
#             'layout': {
#                 'plot_bgcolor': '#e9ecef',
#                 'paper_bgcolor': '#e9ecef',
#                 'font': {
#                     'color':'#e9ecef'
#                 }
#             }
#         }
                 
                 
#                  ),  
        
#     ] ,)

In [15]:
card_icon = {
    "color": "white",
    "textAlign": "center",
    "fontSize": 30,
    "margin": "auto",
}

card1 = dbc.CardGroup(
    [
        dbc.Card(
            dbc.CardBody(
                [
                    html.H5("Card 1", className="card-title"),
                    html.P("This card has some text content", className="card-text",),
                ]
            )
        ),
        dbc.Card(
            html.Div(className="fa-regular fa-user", style=card_icon),
            className="bg-primary",
            style={"maxWidth": 75},
        ),
    ],
    className="mt-4 shadow",
)

In [16]:
fourth_graph =dcc.Graph(
        id="Random_graph2",
        figure={
            'layout': {
                'plot_bgcolor': colors['background'],
                'paper_bgcolor': colors['background'],
                'font': {
                    'color': colors['text']
                }
            }
        }
    )

In [17]:
app.layout = html.Div(html.Div(children=[
   
    dbc.Row(
            [
                
                dbc.Col(card1),
                dbc.Col(
                    dbc.Card(card_content, color="secondary", inverse=True)
                ),
                dbc.Col(dbc.Card(card_content, color="info", inverse=True)),
                dbc.Col(dbc.Card(card_content, color="info", inverse=True)),
   
            ] , className="py-4",  
        ),
    
    

    
    dbc.Row([
        
        dbc.Col(dcc.Graph(id = "Random_graph1" ,
#                           figure = fig
                         )),
           
     
    ] , className="py-4",),
    
    
    
    dbc.Row([
        
        

        
    dbc.Col(html.Div(children=[
    dcc.Dropdown(UR_Data.columns, 'Date', id='Select_Y_axis' 
                 ,style={ 'width': '200px','color': '#212121', 'background-color': '#e9ecef', }),
    dcc.Graph(id = "UR_Graph"),
      
        ]), lg=7),  
    
    
    dbc.Col(inflation_fig,
    style = {"width" : 350 , "height" : 350 , 'backgroundColor':'#e9ecef' } ,
    ),        
        

        
#     dbc.Col(fourth_graph, lg=5),   
    ], className="py-4",),
    
    

    
    
    
] , className="py-2 container",)   
                      
                      
                      , style = {'backgroundColor':'#e9ecef' })

In [18]:
@app.callback(
    Output('UR_Graph', 'figure'),
    Input('Select_Y_axis', 'value'),
#     Input('Plot_Graph' , 'n_clicks')
)
def update_output_new(Yaxis_value):
#     Updated_graph = UR_Data[["Date" , "Russia_Total"]]
    draw = px.line(UR_Data , x='Date' , y = Yaxis_value )
    draw.update_layout(paper_bgcolor="#e9ecef" , plot_bgcolor = "#e9ecef", xaxis=dict(showgrid=False),
              yaxis=dict(showgrid=False))

    return draw

In [19]:
@app.callback(
    Output('Inflation_Data', 'figure'),
    Input('Select_Y_axis1', 'value'),
#     Input('Plot_Graph' , 'n_clicks')
)
def update_output(Yaxis_value):
#     Updated_graph = UR_Data[["Date" , "Russia_Total"]]
    draw = px.line(Inflation_Data , x='Date' , y =Yaxis_value )
    draw.update_layout(paper_bgcolor="#e9ecef" , plot_bgcolor = "#e9ecef", xaxis=dict(showgrid=False),
              yaxis=dict(showgrid=False))

    return draw

In [20]:
# !pip3 install geojson

In [21]:
# pip uninstall geopandas fiona pyproj rtree shapely

In [22]:
# conda install --channel conda-forge geopandas

In [ ]:
app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [30/Apr/2022 11:31:18] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Apr/2022 11:31:18] "GET /_dash-component-suites/dash/dash_table/bundle.v5_1_1m1648035509.js HTTP/1.1" 200 -
127.0.0.1 - - [30/Apr/2022 11:31:18] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [30/Apr/2022 11:31:18] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [30/Apr/2022 11:31:18] "GET /_favicon.ico?v=2.3.0 HTTP/1.1" 200 -
127.0.0.1 - - [30/Apr/2022 11:31:18] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [30/Apr/2022 11:31:18] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [30/Apr/2022 11:31:18] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [30/Apr/2022 11:31:19] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [30/Apr/2022 11:31:19] "POST /_dash-update-component HTTP/1.1" 200 -